table tr td {
    border: 1px solid black;
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 5vw;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tickets_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.header_input{
    padding: 3px 10px;
}

button{
    border-style: none;
    background-color: black;
    color: white;    
    font-weight: bold;
    padding: 10px 5px;
}

button:hover{
    cursor: pointer;
}

button:disabled{
    opacity: 0.5;
    cursor: default;
}

@media (min-width:720px) {
    table tr td{
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
}